<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.avis.app.ptalk.debug.UIGalleryActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidPTalk"
            android:label="UI Gallery (debug)" />
    </application>
</manifest>
